/*=============== BUTTON ===============*/
.btn-container {
  /* height: 100vh; */
  margin-inline: 1.2rem;
  display: grid;
  place-items: center;
}

.btn-container > a {
  text-decoration: none;
}
.button {
  position: relative;
  transition: transform 0.4s;
}

.button__content {
  position: relative;
  background: var(--gradient-color);
  padding: 1.15rem 2.8rem;
  border-radius: 4rem;
  border: 3px solid var(--accent);
  color: var(--black-color);
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: var(--font-size-xlarge);
  overflow: hidden;
}

.button__text {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__text,
.button__icon {
  position: relative;
  z-index: 2;
}

/* Reflection shapes */
.button__reflection-1,
.button__reflection-2,
.button__reflection-3,
.button__reflection-4 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left 0.6s cubic-bezier(0.2, 0.5, 0.2, 1.2);
}

.button__reflection-1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 0.8rem;
}

/* .button__reflection-3::after,
.button__reflection-4::after {
  content: "";
  width: 30px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1rem;
} */

/* View shadow gradient */
.button:hover .button__shadow {
  transform: translate(-0.5rem, 0.5rem);
}

/* Move reflection */
.button:hover .button__reflection-1 {
  left: 120%;
}

.button:hover .button__reflection-2 {
  left: -50%;
}

/* .button:hover .button__reflection-3 {
  left: 100%;
}

.button:hover .button__reflection-4 {
  left: -60%;
} */
