.error-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index : 9999999;
  opacity: 0.95;
 
}

.error-msg-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 25px;
  text-align: center;
  color: var(--text);
  font-size: var(--font-size-large);
  font-family: var(--cta-font);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap :3rem;
  z-index: 99999996;
  
}

.error-msg-title{
  font-size: var(--font-size-xmammoth);
  color: var(--accent);
}