.error-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.error-msg-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: 25px;
  text-align: center;
  color: var(--text);
  font-size: var(--font-size-large);
  font-family: var(--cta-font);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.error-msg-title{
  font-size: var(--font-size-xmammoth);
  color: var(--accent);
}