.title {
  font-family: var(--primary-font);
  font-size: var(--font-size-xmammoth);
  color: var(--accent);
  /* margin-bottom: 2rem; */
}

.main-title {
  font-family: var(--primary-font);
  font-size: var(--font-size-xdinormous);
  color: var(--accent);
  margin-bottom: 2rem;
  letter-spacing: 0.6rem;
}

.about {
  width: 80%;
  font-family: var(--secondary-font);
  font-size: var(--font-size-large);
  color: var(--text);
  margin-bottom: 2rem;
  text-align: justify;
  word-wrap: break-word;
}
.auth-wrapper {
  display: flex;
  /* height: auto; */
  /* height: 80vh; */
}

.auth-left {
  width: 50%;
  height: 85vh;
    display: flex;
  align-items: center;
}

.auth-right {
  width: 50%;
  margin-left: 10rem;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.username-input-wrapper,
.address-input-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}


.username-input,
.address-input {
  position: absolute;
  width: 27%;
  color: var(--text);
  outline: none;
  font-family: var(--cta-font);
  font-size: var(--font-size-large);
  padding: 0 10px;
  margin-left: 5rem;
  line-height: 70px;
  border-radius: 10px;
  border: 3px solid var(--accent);
  background: transparent;
}

.user-icon {
  fill: var(--accent);
  /* margin: 3rem; */
}

.auth-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7rem;
}
