*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title
{
    padding-left: 4rem;
    font-size: 3rem;
}

.link{
    font-size: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}
.nav li:hover{
    color: aqua;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    
}